<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Home | Test App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel='stylesheet' type='text/css' href='/static/css/styles_home.css'>
	</head>
	<body>
		<nav class='navbar navbar-default'>
			<div class='container-fluid'>
				<div class='navbar-header'>
					<a class='navbar-brand' href="/">Test App</a>
					<p class='navbar-text'><a href="/" class='navbar-link'>Home</a></p>
				</div>
				
				<ul class='navbar-right'><a href="/users/signin" class='navbar-text'>Sign In</a></ul>
				
			</div>
		</nav>
		<div class='container-fluid' id='body'>
			<div class='container-fluid'>
				<div class='jumbotron'>
					<h1>Welcome to the Test</h1>
					<p>We're going to build a cool application using a MVC framework! This application was built with the Village88 folks!</p>
					<p><a href="/users/signin" class='btn btn-primary btn-lg' role='button'>Start</a></p>
				</div>
			</div>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-lg-4'>
						<p><strong>Manage Users</strong></p>
						<p>Using the application, you'll learn how to add, remove, and edit users for the application.</p>
					</div>
					<div class='col-lg-4'>
						<p><strong>Leave messages</strong></p>
						<p>Users will be able to leave a message to another user using this application.</p>
					</div>
					<div class='col-lg-4'>
						<p><strong>Edit User Information</strong></p>
						<p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
					</div>
				</div>
			</div>
		</div><!--end of body-->
	</body>
</html>